*{ box-sizing: border-box;}
html, body{ height: 100%;}

body{
    background: rgba(184, 244, 40, 1);
}

@font-face {
    font-family: "GothamProLight";
    src: url("../fonts/gothampro_light.ttf") format("truetype");
    font-style: Light;
    font-weight: Light;
    }
@font-face {
        font-family: "GothamMedium";
        src: url("../fonts/gotham_medium.otf") format("truetype");
        font-style: Medium;
        font-weight: Medium;
        }
@font-face{
    font-family:"DISPLAYreg";
    src: url("../fonts/SFPRODISPLAYREGULAR.OTF") format("truetype");
        font-style: Medium;
        font-weight: Medium;
}

@font-face{
    font-family:"DISPLAYbold";
    src: url("../fonts/SFPRODISPLAYBOLD.OTF") format("truetype");
        font-style: Bold;
        font-weight: Bold;
}

    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        background: rgba(184, 244, 40, 1);
    }
    
    
    #background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(184, 244, 40, 1);
        z-index: -1;
    }
    
    #typing-text {
        font-family: "GothamProLight";
        font-size: 16vw;
        line-height: 85%;
        width: 100%;
        overflow-x: hidden;
        text-align: center;
        letter-spacing: -2vw ;
        color: white;
        margin-top: 2.5vw;
    }
    
    #navbar {
        justify-content: left;
        align-items: center;
        background: rgba(184, 244, 40, 1);
        color: white;
        height: 6.88vw;
    }
    
    .menu-icon{
        display: flex;
        height: 6.88vw;
        width: 56.77vw;
    }

    .logo {
        display: flex;
        height: 3vw;
        width: 3vw;
        margin-top: 1.7vw;
        margin-left: 2.4vw;
        transition: transform .2s;
    }

    .logo:hover {
        transform: scale(1.5);
    }

    .logo img{
        height: 3vw;
        width: 3vw;
    }

    ul {
        display: flex;
        list-style-type: none;
    }
    
    li {
        display: flex;
        font-family: "GothamMedium";
        margin: 0 0.5vw;
        margin-top: 2.6vw;
        margin-left: 2vw;
        cursor: pointer;
        color: black;
        font-size: 1.2vw;
    }

    a{
        text-decoration: none; 
        color: black;   
    }
    
    .bold {
        font-weight: bold;
    }

    .bb1{
        display: flex;
        font-family:"DISPLAYbold";
        font-size: 1.67vw;
        margin-top: -0.2vw;
    }

    .bb{
        font-family:"DISPLAYbold";
        font-size: 1.67vw;
    }

    .leni{
        width: 100vw;
        height: 62.92vw;
    }

    .lenivka{
        width: 61.2vw;
        height: 63.13vw ;
        margin-top: -2vw;
    }

    .lenivka img{
        width: 61.2vw;
        height: 63.13vw ;
    }

    .opisanie1{
        font-family:"DISPLAYreg";
        font-size: 1.67vw;
        width: 43vw;
        height: 14.53vw ;
        margin-top: -53vw;
        margin-left: 52.6vw;
        line-height: 1.98vw;
        letter-spacing: 0.02vw;
    }

    .opisanie2{
        font-family:"DISPLAYreg";
        font-size: 1.67vw;
        width: 43vw;
        height: 14.53vw ;
        margin-top: 13vw;
        margin-left: 52.6vw;
        line-height: 1.98vw;
        letter-spacing: 0.02vw;
    }

    .bolzag{
        width: 104vw;
        height: 28.39vw;
        margin-left: 0vw;
    }

    .bol1{
        font-family: "GothamMedium";
        margin-top: 2.6vw;
        margin-left: 8.9vw;
        color: black;
        font-size: 7.8vw;
    }

    .bol2{
        font-family: "GothamMedium";
        margin-left: 49.26vw;
        color: black;
        font-size: 7.8vw;
    }
    .opissanie{
        width: 104vw;
        height: 42vw;
        margin-left: 0vw;
    }
    .opisanie3{
        font-family:"DISPLAYreg";
        font-size: 1.67vw;
        width: 43vw;
        height: 14.53vw ;
        margin-top: -6vw;
        margin-left: 8.44vw;
        line-height: 1.98vw;
        letter-spacing: 0.02vw;
    }

    .opisanie4{
        font-family:"DISPLAYreg";
        font-size: 1.67vw;
        width: 43vw;
        height: 14.53vw ;
        margin-top: 5.8vw;
        margin-left: 52.6vw;
        line-height: 1.98vw;
        letter-spacing: 0.02vw;
    }




    .ch88{
        width: 104vw;
        height: 5.94vw;
        margin-left: 0vw;
        margin-top: 0vw;
    }

    .f66{
        width: 104vw;
        height: 5.94vw ;
    }

    .f66 img{
        width: 104vw;
        height: 5.94vw ;
    }

    .t122{
        font-family: "GothamMedium";
        color: black;
        font-size: 1.3vw;
        width: 11.88vw;
        height: 1.25vw ;
        margin-top: -4vw;
        margin-left: 5vw; 
    }

    .t133{
        font-family: "GothamMedium";
        color: black;
        font-size: 1.3vw;
        width: 11.93vw;
        height: 1.25vw ;
        margin-top: -1.2vw;
        margin-left: 44.06vw; 
    }

    .f77{
        width: 2.37vw;
        height: 2.37vw ;
        margin-top: -1.98vw;
        margin-left: 93.18vw;
    }

    .f77 img{
        width: 2.37vw;
        height: 2.37vw ;
    }
